/* Universal Styling */
:root {
  --primaryRed: #ff6b6b;
  --primaryWhite: #f4f4ed;
  --primaryGray: #daddd8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Kanit', sans-serif;
}
/* Header Styling */
.header-container {
  background-color: var(--primaryRed);
  color: var(--primaryWhite);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-family: 'Righteous', cursive;
  letter-spacing: 2px;
  font-size: 1.25em;
  text-align: center;
}

/*Header Nav Styling */
.header-nav ul {
  display: flex;
}

.header-nav ul li {
  list-style: none;
  margin-left: 5px;
}

.header-nav ul li a {
  color: var(--primaryWhite);
  text-decoration: none;
  font-size: 0.7em;
}

/* Agents Nav Styling */
.agents-nav {
  margin-top: 10px;
}
.agents-nav ul {
  display: flex;
  justify-content: center;
}

.agents-nav ul li {
  list-style: none;
  margin-left: 10px;
}

.agents-nav ul li {
  font-weight: 500;
  font-size: 0.9em;
}

.agents-nav-link {
  text-decoration: none;
  color: var(--primaryRed);
}

.agents-nav-active {
  text-decoration: underline;
  color: var(--primaryRed);
}
/* Agent List Styling */
.agents-container {
  padding: 10px;
  display: flex;

  align-items: center;
  flex-wrap: wrap;

  margin: 0 auto;
}

.agents-item {
  padding: 10px;
  background-color: var(--primaryGray);
  margin: 10px;
  flex: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.agents-item-img {
  width: 90px;
}

.agents-item-content {
  display: flex;
  align-items: center;
}

.agents-item-content p {
  font-size: 0.8em;
}

.agents-item-content img {
  margin-left: 5px;
  width: 15px;
}
