/* Universal Styling */
:root {
  --primaryRed: #ff6b6b;
  --primaryWhite: #f4f4ed;
  --primaryGray: #daddd8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Kanit', sans-serif;
}
/* Header Styling */
.header-container {
  background-color: var(--primaryRed);
  color: var(--primaryWhite);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-family: 'Righteous', cursive;
  letter-spacing: 2px;
  font-size: 1.25em;
  text-align: center;
}

/*Header Nav Styling */
.header-nav ul {
  display: flex;
}

.header-nav ul li {
  list-style: none;
  margin-left: 5px;
}

.header-nav ul li a {
  color: var(--primaryWhite);
  text-decoration: none;
  font-size: 0.7em;
}

/* Agents Nav Styling */
.agents-nav {
  margin-top: 10px;
}
.agents-nav ul {
  display: flex;
  justify-content: center;
}

.agents-nav ul li {
  list-style: none;
  margin-left: 10px;
}

.agents-nav ul li {
  font-weight: 500;
  font-size: 0.9em;
}

.agents-nav-link {
  text-decoration: none;
  color: var(--primaryRed);
}

.agents-nav-active {
  text-decoration: underline;
  color: var(--primaryRed);
}
/* Agent List Styling */
.agents-container {
  padding: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.agents-container a {
  text-decoration: none;
  color: black;
}
.agents-item {
  padding: 10px;
  background-color: var(--primaryGray);
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 150px;
}

.agents-item-img {
  width: 90px;
}

.agents-item-content {
  display: flex;
  align-items: center;
}

.agents-item-content p {
  font-size: 0.8em;
}

.agents-item-content img {
  margin-left: 5px;
  width: 15px;
}

/* Agent Details */
.agent-container {
  background-color: var(--primaryGray);
  max-width: 85vw;
  min-height: 75vh;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

.agent-images {
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: 40px auto;
}
.agent-full-portrait {
  margin: -10px auto;
  width: 500px;
  z-index: 2;
  position: absolute;
}
.agent-background {
  width: 500px;
  z-index: 1;
  margin-top: -50px;
}

.agent-container > h2 {
  text-align: center;
  font-size: 5em;
  margin-top: -100px;
}

.agent-role {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
}

.agent-role h4 {
  font-size: 2em;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

.agent-role img {
  width: 20px;
  margin-left: 10px;
}

.role-type {
  font-weight: 400;
  font-size: 0.9em;
  margin-left: 10px;
}

.agent-details {
  padding: 0px 50px;
}
.agent-nav {
  margin-top: 10px;
}

.agent-nav ul {
  display: flex;
  justify-content: center;
}

.agent-nav ul li {
  margin-left: 10px;
  list-style: none;
  font-weight: 500;
  cursor: pointer;
}

.active {
  text-decoration: underline;
}

.agent-content {
  margin-top: 20px;
}

/* Abilities Styling */
.ability-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 10px 20px 10px;
}

.ability {
  margin-bottom: 50px;
  display: flex;
}
.ability-header {
  display: block;
  width: 40px;
  margin-right: 10px;
}

.ability-header h4 {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0;
}
.ability-header h3 {
  font-size: 1.5em;
  width: 150px;
}

.ability-icon {
  width: 70px;
  display: block;
}
.ability-content {
  margin-left: 110px;
  width: 330px;
}

/* Maps Styling */
.maps-container {
  display: flex;
  flex-direction: column;
  max-width: 85vw;
  margin: 10px auto;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.maps-header {
  background-color: var(--primaryWhite);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.maps-item {
  background-color: var(--primaryGray);
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
}
.maps-item img {
  width: 100%;
}
.maps-header > a {
  color: black;
  text-align: center;
  margin-top: -15px;
  margin-bottom: 10px;
}

.maps-header h1 {
  text-align: center;
  background-color: var(--primaryWhite);
  font-size: 2.5em;
  letter-spacing: 1.5px;
}

/* Map Details Styling */
.maps-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primaryGray);
  max-width: 85vw;
  margin: 50px auto;
  padding: 50px;
}

.maps-details-container h1 {
  background-color: var(--primaryWhite);
  width: 400px;
  text-align: center;
  padding-top: 10px;
}

.maps-details-container p {
  background-color: var(--primaryWhite);
  width: 400px;
  text-align: center;
}

.maps-details-container img {
  width: 400px;
  border: 20px solid var(--primaryWhite);
}

.no-map {
  width: 400px;
  background-color: var(--primaryWhite);
  text-align: center;
  padding: 50px 0;
}
